Юлия, привет!

Меня зовут Щетинина Софья, я буду проверять твой проект :)

Мы в Практикуме общаемся на "ты", но если тебе некомфортно - дай знать, и мы перейдем на "вы".

Моя цель - не критиковать твою работу, а помогать тебе на пути освоения новой профессии.

Я буду помечать свои комментарии разными цветами:

<div class="alert alert-block alert-success">
<b> ✔️ Комментарий ревьюера:</b> Здесь все сделано хорошо. </div>

<div class="alert alert-block alert-warning">
<b>⚠️ Комментарий ревьюера:</b> Некритичное замечание или рекомендация: исправлять это не обязательно, но будет полезно для твоего развития. </div>

<div class="alert alert-block alert-danger">
<b>❌ Комментарий ревьюера:</b> Ошибка. Это нужно исправить, иначе проект не будет принят.
</div>

Пожалуйста, помечай тоже цветом свои исправления и ответы на мои комментарии.

Это поможет мне быстрее сделать ревью твоего проекта.

<div class="alert alert-block alert-info">
<b>Комментарий студента:</b> 
Например, так.

</div>

# Исследование надежности заемщиков

<div class="alert alert-block alert-warning">
<b>⚠️ Комментарий ревьюера:</b> Хоть проект и начинается с заданий с автоматической проверкой, рекомендую делать небольшое вступление с описанием данных, целей и планов исследования. Это поможет собрать все воедино и облегчит твою работу над выводами в конце. </div>

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [2]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [3]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

NameError: name 'data' is not defined

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [26]:
def fam (children):
    if children == 0:
        return 'бездетные'
    elif 1 <= children <= 2:
        return 'малодетные'
    elif children >= 3:
        return 'многодетные'
data['family'] = data['children'].apply(fam)
children_cred = data.pivot_table(index= ['family'], columns='debt',values='gender', aggfunc='count')
children_cred.columns = ['count', 'debt']
children_cred['mean'] = children_cred['debt'] / (children_cred['count'] + children_cred['debt'])


children_cred.sort_values(by='mean', ascending = False)

             count  debt      mean
family
малодетные    6222   638  0.093003
многодетные    349    31  0.081579
бездетные    13028  1063  0.075438

<div class="alert alert-block alert-warning">
<b>⚠️ Комментарий ревьюера:</b> Вот здесь есть сложность с метрикой. Нам нужна доля должников, она получается из деления должников на всех заемщиков и чем доля меньше - тем лучше возвращается кредит. Здесь деление почему-то наоборот - всех на должников, получается неудобно (или нужно объяснение в выводе, что значит столбец и как его интерпретировать) </div>

<div class="alert alert-block alert-warning">
<b>⚠️ Комментарий ревьюера v.2:</b> Нужно исправить это </div>

<div class="alert alert-block alert-success">
<b> ✔️ Комментарий ревьюера v.3:</b> Все супер, проценты посчитаны правильно </div>

Вывод: Лучше всего отдают кредиты те, у кого нет детей. На 2м месте многодетные семьи, но их в разы меньше по численности, чем остальных категорий.
Хуже всех справляются семьи, где 1 или 2 ребенка.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [27]:
family_cred = data.pivot_table(index= ['family_status'], columns='debt', values='gender', aggfunc='count')
family_cred.columns = ['count', 'debt']
family_cred['mean'] = family_cred['debt'] / (family_cred['debt'] + family_cred['count'])
family_cred.sort_values(by='mean', ascending=False)

                       count  debt      mean
family_status
Не женат / не замужем   2523   273  0.097639
гражданский брак        3749   385  0.093130
женат / замужем        11334   927  0.075606
в разводе               1105    84  0.070648
вдовец / вдова           888    63  0.066246

Вывод: Лучще всех отдают кредиты люди, которые вдовствуют или находятся в разводе. Хуже всех выплачивают долги (с небольшой разницей)дюли,
свободные от юрилических уз, т.е. не женатые или живущие в гражданском браке. Официвльно оформившие свои отношения, находятся на
средних позициях.

<div class="alert alert-block alert-success">
<b> ✔️ Комментарий ревьюера:</b> Вывод верный, но опять метрика непонятная. </div>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
total_income_cred = data.pivot_table(index= ['total_income_category'], columns='debt', values='gender', aggfunc='count')
total_income_cred.columns = ['count', 'debt']
total_income_cred['mean'] = (total_income_cred['debt'] + total_income_cred['count']) / total_income_cred['debt']
total_income_cred.sort_values(by='mean', ascending=False)

                       count  debt       mean
total_income_category
D                        328    21  16.619048
B                       4660   354  14.163842
A                         23     2  12.500000
C                      14568  1353  11.767184
E                         20     2  11.000000

Вывод: Хуже всех возвращают кредиты заемшики, имеющие самый низкий доход - 0–30000, а самыми отвественными те,
чей доход не на много превышает его - 30001 - 50000. Удивительно, что заемщики из "среднего класса", с доходом 50001–200000,
вкдут себя так же безответсвенно, как и те, кто зарабатывает меньше всех, хотя и самое большое колличество звемшиков срели них. 
Люди с высоким уровнем дохода(200001–1000000 и от 1000000 и выше) нахолятся на 2 и 3 местах.

<div class="alert alert-block alert-success">
<b> ✔️ Комментарий ревьюера:</b> По выводам все верно + еще хорошо бы добавить комментарий о размерах выборок, тут есть очень маленькие, т.е. ненадежные для оценки. </div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
categorize_purpose_cred = data.pivot_table(index= ['purpose_category'], columns='debt', values='gender', aggfunc='count')
categorize_purpose_cred.columns = ['count', 'debt']
categorize_purpose_cred['mean'] = (categorize_purpose_cred['debt'] + categorize_purpose_cred['count']) / categorize_purpose_cred['debt']
categorize_purpose_cred.sort_values(by='mean', ascending=False)

                          count  debt       mean
purpose_category
операции с недвижимостью   9971   780  13.783333
проведение свадьбы         2130   183  12.639344
получение образования      3619   369  10.807588
операции с автомобилем     3879   400  10.697500

Вывод: Заемшики, получающие кредиты на покупку недвижимости, ведут себя очень ответственно и большинво возврашают кредит в срок.
Что не сказать про тех, кто получают образование и покупают мащины. За проведение свадьбы, многие заемшики так же пытаюся полностью расплатиться.

<div class="alert alert-block alert-success">
<b> ✔️ Комментарий ревьюера:</b> Все правильно </div>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

Ответ: по моему мнению, много пропусков в связи с человеческим фактором: ошибками сотрудников, либо нежеланием респондентов 
предоставлять более подробную информацию. Так же много ошибок несут технические особенности программного обеспечения (сбои и 
и отсутсивие возможности выбирать значения по жестким кластерам).

<div class="alert alert-block alert-success">
<b> ✔️ Комментарий ревьюера:</b> 👍 </div>

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

Ответ: Не всегла среднее арифметическое значение является актуальным для проведения анализа, это значение не всегда показывает правильную картину исследования,т.к. является очень чувствительным параметром. Например, зароботная плата по стране, сложно принимать среднее арифметическое значение в этои случае для оченки. В данном случае удобней работать с  
медианным значением. Медиана - число, которое находится в середине этого набора, если его упорядочить по возрастанию, то есть такое число, что половина из элементов набора не меньше него, а другая половина не больше.

<div class="alert alert-block alert-warning">
<b>⚠️ Комментарий ревьюера:</b> А почему? Не хватает объяснения чем медиана лучше и в каких случаях это так. </div>

<div class="alert alert-block alert-success">
<b> ✔️ Комментарий ревьюера v.2:</b> Верно </div>

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

Чаще всего должниками являются заемшики:
1. получающие кредиты на образрвание
2. получающие кредиты покупку машины
3. чей уровень дохола очень низкий 0–30000, либо средний 50001–200000,
4. кто не состоит в официаольном браке и никогда не состоял
Чаще всего возврашают кредиты:
1. те у кого нет детей
2. заемщики, состоящие в официальных отношениях, либо когда то сосяли в них
3. те кто покуает недвижимость
4. на удивление, те кто имеет не очень высокий доход 30001 - 50000

<div class="alert alert-block alert-success">
<b> ✔️ Комментарий ревьюера:</b> Общее впечатление:
очень хорошая работа получилась - сводные таблицы сделаны хорошо, выводы расписаны верно, молодец!
    
Осталось разобраться с метрикой возвратности, или поменяй ее на долю должников в группах, или опиши что она у тебя показывает.    

Исправь, пожалуйста, желтые комментарии и присылай на повторное ревью) Если есть вопросы - буду рада ответить в комментариях!</div>

<div class="alert alert-block alert-warning">
<b>⚠️ Комментарий ревьюера v.2:</b> Не исправлен момент с долями, то что я написала в общем впечатлении и в желтом выше. Разберись, пожалуйста </div>

Добрый день)) перелелала код - разделила должников на всех заемщиков. В принципе итог тот же)))

<div class="alert alert-block alert-success">
<b> ✔️ Комментарий ревьюера v.3:</b> Принято 👍</div>